<%- include('./partials/header') %>

<div class="content">
    <h2 class="content__title"><%= pokemonFound.name.fr %> (<%= pokemonFound.name.en %>)</h2>
    <div class="details">
        <div class="pokemon_info">
            <div class="pokemon_img">
                <img src="<%= pokemonFound.sprites.regular %>" alt="<%= pokemonFound.name.fr %>">
            </div>
            <div class="pokemon_types">
                <p>Types :</p>
                <ul>
                    <% pokemonFound.types.forEach(type => { %>
                        <li>
                            <img src="<%= type.image %>" alt="<%= type.name %>">
                            <%= type.name %>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="pokemon_description">
                <p>Taille : <%= pokemonFound.height %></p>
                <p>Poids : <%= pokemonFound.weight %></p>
                <p>Sexe :</p>
                <div class="gender_distribution">
                    <div class="male_progress" style="width: <%= pokemonFound.sexe.male %>%;"></div>
                    <div class="female_progress" style="width: <%= pokemonFound.sexe.female %>%;"></div>
                </div>
                <p>Mâle : <%= pokemonFound.sexe.male %>%</p>
                <p>Femelle : <%= pokemonFound.sexe.female %>%</p>
            </div>
            <div class="pokemon_abilities">
                <p>Talents :</p>
                <ul>
                    <% pokemonFound.talents.forEach(talent => { %>
                        <li><%= talent.name %> <%= talent.tc ? '(Talent caché)' : '' %></li>
                    <% }) %>
                </ul>
            </div>
            <div class="pokemon_stats">
                <p>Statistiques :</p>
                <ul>
                    <li>PV : <%= pokemonFound.stats.hp %></li>
                    <li>Attaque : <%= pokemonFound.stats.atk %></li>
                    <li>Défense : <%= pokemonFound.stats.def %></li>
                    <li>Attaque Spéciale : <%= pokemonFound.stats.spe_atk %></li>
                    <li>Défense Spéciale : <%= pokemonFound.stats.spe_def %></li>
                    <li>Vitesse : <%= pokemonFound.stats.vit %></li>
                </ul>
            </div>
            <div class="pokemon_resistances">
                <p>Résistances :</p>
                <ul>
                    <% pokemonFound.resistances.forEach(resistance => { %>
                        <li><%= resistance.name %> : <%= resistance.multiplier %>x</li>
                    <% }) %>
                </ul>
            </div>
            <% if (pokemonFound.egg_groups) { %>
                <div class="pokemon_egg_groups">
                    <p>Groupes d'œufs :</p>
                    <ul>
                        <% pokemonFound.egg_groups.forEach(group => { %>
                            <li><%= group %></li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
        </div>
        <div class="pokemon_evolutions">
            <h3>Évolutions :</h3>
            <div class="evolution_chain">
                <% if (pokemonFound.evolution.pre && pokemonFound.evolution.pre.length > 0) { %>
                    <div class="pre-evolutions">
                        <h4>Pré-évolutions :</h4>
                        <ul>
                            <% pokemonFound.evolution.pre.forEach(preEvo => { %>
                                <li>
                                    <a href="/<%= preEvo.pokedex_id %>">
                                        <img src="https://raw.githubusercontent.com/Yarkis01/TyraDex/images/sprites/<%= preEvo.pokedex_id %>/regular.png" alt="<%= preEvo.name %>">
                                        <%= preEvo.name %>
                                    </a>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>
                <% if (pokemonFound.evolution.next && pokemonFound.evolution.next.length > 0) { %>
                    <div class="next-evolutions">
                        <h4>Évolutions suivantes :</h4>
                        <ul>
                            <% pokemonFound.evolution.next.forEach(nextEvo => { %>
                                <li>
                                    <a href="/<%= nextEvo.pokedex_id %>">
                                        <img src="https://raw.githubusercontent.com/Yarkis01/TyraDex/images/sprites/<%= nextEvo.pokedex_id %>/regular.png" alt="<%= nextEvo.name %>">
                                        <%= nextEvo.name %>
                                    </a>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>
