<%- include('./partials/header') %>
    <main>
        <h2>Liste des toilettes publiques de l'arrondissement : <%= arrondissement %></h1>
            <a href="/">RETOUR</a>
        <ul class="cards">
            <% data.forEach( element => { %>
            <li class="card">
                <h3>Type : <%=  element.type %></h3>
                <p>Horaires : <% if (element.horaire === "Voir fiche équipement") { %>
                    <a href="<%= element.url_fiche_equipement %>" target="_blank"><%=  element.horaire %></a>
                <% } else { %>
                    <%=  element.horaire %>
                <% } %>
                 </p>
                <p>Adresse : <%=  element.adresse %> </p>
                    <p><%=  element.arrondissement %></p>
                <p>Accès PMR : <%=  element.acces_pmr %></p>
                <p>Relais bébé : <% if (element.relais_bebe === null) { %>
                    Non
                <% } else { %>
                    <%=  element.relais_bebe %>
                <% } %>
                </p>
            </li>
            <% }) %>
        </ul>
    </main>
    <%- include('./partials/footer') %>
